DB.json
[{"id":"ec1d398a.cfaef8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"577ae1c2.c428d","type":"sqlite","z":"ec1d398a.cfaef8","mydb":"5daeaed3.74209","sqlquery":"msg.topic","sql":"","name":"","x":590,"y":180,"wires":[["e6cff669.6b75d8"]]},{"id":"851c5c50.e894f","type":"inject","z":"ec1d398a.cfaef8","name":"Create Database Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE climateData ( timestamp int PRIMARY KEY, tempExt INT NOT NULL, humExt int not NULL )","payload":"","payloadType":"date","x":150,"y":140,"wires":[["577ae1c2.c428d"]]},{"id":"e6cff669.6b75d8","type":"debug","z":"ec1d398a.cfaef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":220,"wires":[]},{"id":"f9786535.5e8548","type":"inject","z":"ec1d398a.cfaef8","name":"Insert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[["12d7bf78.1c5e71"]]},{"id":"12d7bf78.1c5e71","type":"function","z":"ec1d398a.cfaef8","name":"","func":"var newMsg = {\n    \"topic\": \"INSERT INTO cilmateData (timestamp,tempext,humext) VALUES(0,20,35)\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[[]]},{"id":"5daeaed3.74209","type":"sqlitedb","z":"","db":"/home/pi/MSR/sqlite/climate.db","mode":"RWC"}]